*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
}

.banner-principal{
    height: 500px;
    /*adiciona uma imagem como fundo da div*/
    background-image: url(https://images.pexels.com/photos/4860589/pexels-photo-4860589.jpeg);
    /*ajusta o tamanho da imagem*/
    background-size: cover;
    /*a imagem fica fixa mesmo quando relomas a pagina*/
    background-attachment: fixed;
}

.carrinho{
    top: 250px;
    width: 10px;
    height: 10px;
    position: fixed;
    padding: 2px;
    
}

.absolute{
    position: absolute;
    background-color: rgb(252, 252, 62);
    width: 18px;
    height: 23px;
    padding: 3px 5px;
    top: 2px;
    left: 55px;
    border-radius: 50%;
}