@import "tailwindcss";

@theme{
    /* cores */
    --fundo-base: #EAE3D2;
    --fundo-elevado: #DDD2B7;
    --texto-principal: #201D18;
    --texto-secundario: #6B6354;
    
    /* fontes */
    --font-titulo: "font-display";
    --font-titulo: "font-body";
}

body {
    font-family: var(--font-body);
    background-color: var(--color-creme);
    color: var(--fundo-base-900);
  }
