*{
    margin: 0;
    padding: 0;
}

body, html{
    color: white;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

a{
    text-decoration: none;
    color: white;
}

.hidden{
    display: none;
}

/*
    aplica os estilos abaixo apenas para telas que tem até 800px
*/

@media (max-width: 800px){
   .menu-desktop{
    display: none;
   }

   .hidden{
    display: block;
   }

   .menu-mobile{
    display: flex;
    flex-direction: column;
    background-color: black;
    position: relative;
    

   }
}